<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YoLo platform</title>

</head>
<style>
    h1 {
        aligh: center;
        margin: 0 auto;
        align-content: center;
        align-items: center;
        text-align: center;

    }
    img {
        align-content: center;
        text-align: center;
        margin: 0 auto;

    }
    div {
        text-align: center;
        margin: 0 auto;
        {#align: center;#}
        align-self: center;
        align-content: center;
        {#width: 500;#}
        {#height: 100;#}
        {#border: red solid 2;#}
    }

</style>

<body>
    <h1>Object detection based on YoLo</h1>
    <div><img src="{{ url_for('video_feed') }}"></div>
</body>
</html>
